{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="container pt-3">
    <div class="row">

        <div class="col-md-8">
            <div class="col-md-12 shadow-sm p-3 mb-3 bg-body-tertiary rounded">
                <h3>{{blog.title}}</h3>
                <p>{{blog.desc|safe}}</p>

                <div class="mb-5">
                    <small class="text-muted">Author: {{blog.user}}</small>
                    <br>
                    <small class="text-muted">Last Updated: {{blog.updated_at}} UTC</small>
                </div>

                <div class="fb-like" data-href="{{ request.build_absolute_uri }}"
                    data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true">
                </div>
            </div>
        </div>

        <div class="col-md-4">

        </div>
    </div>

    <h5 class="my-3">Comments</h5>

    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"
        data-width="" data-numposts="5"></div>

</div>
{% endblock %}