{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="m-3">
    <h3 class="my-2 text-center">Courses <hr> </h3>
    <div class="row">
        {% for allcourse in allcourses %}
        <div class="col-sm-6 col-md-4 mt-4">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="{{ allcourse.course_thumbnail.url }}" class="card-img-top p-2"
                    alt="course thumbnail image">
                <div class="card-body">
                    <h5 class="card-title">{{ allcourse.title }}</h5>
                    <p class="card-text">{{ allcourse.shortdesc|truncatewords:8 }}</p>
                    
                    <div class="py-2">
                        <small>Price: {{ allcourse.price }} $</small>
                    </div>
                    <div class="d-flex justify-content-between">
                        {% if allcourse.price == "0.0" %}
                            <a href="{{ allcourse.course_file.url }}" class="btn btn-success" download>
                                <i class="fa-solid fa-download pe-1"></i>Download</a>
                        {% else %}
                        <form action="{% url 'buy_course' allcourse.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-success">
                                <i class="fa-solid fa-cart-shopping pe-1"></i>Buy now</button>
                        </form>
                        {% endif %}
                        <a href="{% url 'course_info' allcourse.id %}" class="btn btn-success">
                            <i class="fa-solid fa-circle-info pe-1"></i>Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}


