{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="pt-5">
    <div class="shadow-sm p-4 mb-5 bg-body-tertiary rounded">

        <h4 class="text-center my-3">Signup</h4>

        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            {% for f in form %}
                {{f.label_tag}} {{f}} {{f.errors}}
            {% endfor %}
            <button type="submit" class="btn btn-info my-3">Submit</button>
        </form>
    </div>
</div>



{% endblock content %}






























